
##########################################################

sudo apt-get install mariadb-server

##########################################################

[sudo] password for pcie: 
Reading package lists... Done
Building dependency tree       
Reading state information... Done
The following additional packages will be installed:
  libaio1 libdbd-mysql-perl libdbi-perl libmysqlclient20 libterm-readkey-perl
  mariadb-client-10.0 mariadb-client-core-10.0 mariadb-common
  mariadb-server-10.0 mariadb-server-core-10.0 mysql-common
Suggested packages:
  libmldbm-perl libnet-daemon-perl libsql-statement-perl mailx mariadb-test
  tinyca
Recommended packages:
  libhtml-template-perl
The following NEW packages will be installed:
  libaio1 libdbd-mysql-perl libdbi-perl libmysqlclient20 libterm-readkey-perl
  mariadb-client-10.0 mariadb-client-core-10.0 mariadb-common mariadb-server
  mariadb-server-10.0 mariadb-server-core-10.0 mysql-common
0 upgraded, 12 newly installed, 0 to remove and 0 not upgraded.
Need to get 16.3 MB of archives.
After this operation, 145 MB of additional disk space will be used.
Do you want to continue? [Y/n] y

##########################################################

Get:1 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/main amd64 mysql-common all 5.7.22-0ubuntu0.16.04.1 [15.4 kB]
Get:2 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/universe amd64 mariadb-common all 10.0.34-0ubuntu0.16.04.1 [16.0 kB]
Get:3 http://mirror.math.princeton.edu/pub/ubuntu xenial/main amd64 libdbi-perl amd64 1.634-1build1 [743 kB]
Get:4 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/main amd64 libmysqlclient20 amd64 5.7.22-0ubuntu0.16.04.1 [809 kB]
Get:5 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/universe amd64 libdbd-mysql-perl amd64 4.033-1ubuntu0.1 [84.3 kB]
Get:6 http://mirror.math.princeton.edu/pub/ubuntu xenial/universe amd64 libterm-readkey-perl amd64 2.33-1build1 [27.2 kB]
Get:7 http://mirror.math.princeton.edu/pub/ubuntu xenial/main amd64 libaio1 amd64 0.3.110-2 [6,356 B]
Get:8 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/universe amd64 mariadb-client-core-10.0 amd64 10.0.34-0ubuntu0.16.04.1 [4,289 kB]
Get:9 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/universe amd64 mariadb-client-10.0 amd64 10.0.34-0ubuntu0.16.04.1 [1,173 kB]
Get:10 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/universe amd64 mariadb-server-core-10.0 amd64 10.0.34-0ubuntu0.16.04.1 [4,851 kB]
Get:11 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/universe amd64 mariadb-server-10.0 amd64 10.0.34-0ubuntu0.16.04.1 [4,268 kB]
Get:12 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates/universe amd64 mariadb-server all 10.0.34-0ubuntu0.16.04.1 [13.1 kB]
Fetched 16.3 MB in 2s (6,155 kB/s)         
Preconfiguring packages ...
Selecting previously unselected package mysql-common.
(Reading database ... 306322 files and directories currently installed.)
Preparing to unpack .../mysql-common_5.7.22-0ubuntu0.16.04.1_all.deb ...
Unpacking mysql-common (5.7.22-0ubuntu0.16.04.1) ...
Selecting previously unselected package mariadb-common.
Preparing to unpack .../mariadb-common_10.0.34-0ubuntu0.16.04.1_all.deb ...
Unpacking mariadb-common (10.0.34-0ubuntu0.16.04.1) ...
Selecting previously unselected package libdbi-perl.
Preparing to unpack .../libdbi-perl_1.634-1build1_amd64.deb ...
Unpacking libdbi-perl (1.634-1build1) ...
Selecting previously unselected package libmysqlclient20:amd64.
Preparing to unpack .../libmysqlclient20_5.7.22-0ubuntu0.16.04.1_amd64.deb ...
Unpacking libmysqlclient20:amd64 (5.7.22-0ubuntu0.16.04.1) ...
Selecting previously unselected package libdbd-mysql-perl.
Preparing to unpack .../libdbd-mysql-perl_4.033-1ubuntu0.1_amd64.deb ...
Unpacking libdbd-mysql-perl (4.033-1ubuntu0.1) ...
Selecting previously unselected package libterm-readkey-perl.
Preparing to unpack .../libterm-readkey-perl_2.33-1build1_amd64.deb ...
Unpacking libterm-readkey-perl (2.33-1build1) ...
Selecting previously unselected package libaio1:amd64.
Preparing to unpack .../libaio1_0.3.110-2_amd64.deb ...
Unpacking libaio1:amd64 (0.3.110-2) ...
Selecting previously unselected package mariadb-client-core-10.0.
Preparing to unpack .../mariadb-client-core-10.0_10.0.34-0ubuntu0.16.04.1_amd64.deb ...
Unpacking mariadb-client-core-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Selecting previously unselected package mariadb-client-10.0.
Preparing to unpack .../mariadb-client-10.0_10.0.34-0ubuntu0.16.04.1_amd64.deb ...
Unpacking mariadb-client-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Selecting previously unselected package mariadb-server-core-10.0.
Preparing to unpack .../mariadb-server-core-10.0_10.0.34-0ubuntu0.16.04.1_amd64.deb ...
Unpacking mariadb-server-core-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Processing triggers for man-db (2.7.5-1) ...
Processing triggers for libc-bin (2.23-0ubuntu10) ...
Setting up mysql-common (5.7.22-0ubuntu0.16.04.1) ...
update-alternatives: using /etc/mysql/my.cnf.fallback to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Setting up mariadb-common (10.0.34-0ubuntu0.16.04.1) ...
update-alternatives: using /etc/mysql/mariadb.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Selecting previously unselected package mariadb-server-10.0.
(Reading database ... 306679 files and directories currently installed.)
Preparing to unpack .../mariadb-server-10.0_10.0.34-0ubuntu0.16.04.1_amd64.deb ...
Unpacking mariadb-server-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Selecting previously unselected package mariadb-server.
Preparing to unpack .../mariadb-server_10.0.34-0ubuntu0.16.04.1_all.deb ...
Unpacking mariadb-server (10.0.34-0ubuntu0.16.04.1) ...
Processing triggers for systemd (229-4ubuntu21.2) ...
Processing triggers for ureadahead (0.100.0-19) ...
Processing triggers for man-db (2.7.5-1) ...
Setting up libdbi-perl (1.634-1build1) ...
Setting up libmysqlclient20:amd64 (5.7.22-0ubuntu0.16.04.1) ...
Setting up libdbd-mysql-perl (4.033-1ubuntu0.1) ...
Setting up libterm-readkey-perl (2.33-1build1) ...
Setting up libaio1:amd64 (0.3.110-2) ...
Setting up mariadb-client-core-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Setting up mariadb-client-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Setting up mariadb-server-core-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Setting up mariadb-server-10.0 (10.0.34-0ubuntu0.16.04.1) ...
Setting up mariadb-server (10.0.34-0ubuntu0.16.04.1) ...
Processing triggers for libc-bin (2.23-0ubuntu10) ...
Processing triggers for systemd (229-4ubuntu21.2) ...
Processing triggers for ureadahead (0.100.0-19) ...

##########################################################

 sudo apt-get update
 
##########################################################

Ign:1 http://packages.linuxmint.com sylvia InRelease
Hit:2 http://mirror.math.princeton.edu/pub/ubuntu xenial InRelease             
Hit:3 http://packages.linuxmint.com sylvia Release                             
Hit:4 http://mirror.math.princeton.edu/pub/ubuntu xenial-updates InRelease     
Get:5 http://security.ubuntu.com/ubuntu xenial-security InRelease [107 kB]     
Hit:6 http://mirror.math.princeton.edu/pub/ubuntu xenial-backports InRelease   
Hit:7 http://linux.teamviewer.com/deb stable InRelease                         
Hit:8 http://linux.teamviewer.com/deb preview InRelease                        
Hit:10 http://archive.canonical.com/ubuntu xenial InRelease                    
Hit:11 http://repo.steampowered.com/steam precise InRelease                    
Fetched 107 kB in 0s (170 kB/s)                                                
Reading package lists... Done

##########################################################

 sudo apt-get upgrade
 
##########################################################

Reading package lists... Done
Building dependency tree       
Reading state information... Done
Calculating upgrade... Done
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

##########################################################
 exit
##########################################################
